*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    
}

body{
    font-family: 'Lexend', sans-serif;
    margin: 0;
    background-color: #FFFFFF;
    
}
input{
    font-family: 'Lexend', sans-serif;
    margin: 0px;
}
/* .sect {
    width: 100%;
    min-height: 500px;
  }
#sect1,
#sect3 {
  background-color: #3333337d;
  color: #fff;
}
#sect2 {
  background-color: #dddddd7d;
  color: #333;
}
#sect1 {
  position: relative;
  overflow: hidden;
}
video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
h1 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
} */

.contenedor-general{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/IHC/img/fondo-doc.jpg);
    background-size: cover;

}
.contenedor-global{
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
    height: 600px;
    max-width: 900px;
    transition: all is ease;
    margin: 10px;
}
.informacion{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #55D6C9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.info-doc{
    width: 100%;
    padding: 0 30px;
}
.info-doc h1{
    font-size: 40px;
    color: #000000;
}
.info-doc p{
    margin: 16px 0;
    color: #000000;
}
.info-doc input{
    background-color: transparent;
    outline: none;
    border: solid 2px #000000;
    border-radius: 20px;
    padding: 10px 20px;
    color: #000000;
    cursor: pointer;
    transition: background-color .3s ease;
}
.info-doc input:hover{
    background-color: #1FAC9E;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);

}

.contenedor-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #D3D3D3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contenedor-info-doc{
    padding: 0 30px;
}
.contenedor-info-doc h1{
    color: #000000;
    font-size: 40px;
}
.contenedor-info-doc p{
    color: #000000;
}
.iconos-registro p{
    margin: 15px;
}
.iconos-registro{
    margin: 15px;
}
.iconos-registro i{
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin: 0px 10px;
    color: #000;
    transition: background-color .3s ease;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}
.iconos-registro i:hover{
    background-color: #1FAC9E;
    color: #FFFFFF;
}
.form{
    margin: 35px 0 0 0 ;
}
.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 20px;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}
.form label input{
   border: none;
   background-color: #D3D3D3;
   width: 100%;
   padding: 5%;
   outline: none;
   border-radius: 20px;
   color: #000;
}

.button-form>a{
    background-color: #D3D3D3;
    color: #000000;
    border-radius: 28px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}
.form input[type="submit"]:hover{
    background-color: #1FAC9E;
    color: #FFFFFF;
}
.hide {
    position: absolute;
    transform: translateY(-300%);
}

.Perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    margin-top: 50px !important;
    
}

.perfil-contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.perfil-contenido >img{
    border-radius: 100px;
    border: solid 1px;
    
}
.perfil-datos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.perfil-datos > h2{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 20px;
    width: 170px;
    text-align: center;
}
.perfil-datos > p{
    background-color: #FFFFFF;
    color: #000000;
    border: solid 1px;
    border-radius: 15px;
    width: 350px ;
    padding: 10px 0px;
    text-align: center;
    font-size: 12px; 
}

.encabezado-citas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado-citas > h2{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    width: 300px;
    padding: 10px 0px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.citas{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.doc-disponible{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.Programar-Cita{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.doc-disponible >img{
    width: 250px;
    height: 270px;
    padding: 20px;
    object-fit: cover;
}
.historial-medico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
}
.horariocitas{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
    
}
.contenedor-doc >h3{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 0px;
    text-align: center;
    font-size: 15px;
}
.contenedor-horarios >h3{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 0px;
    text-align: center;
    font-size: 15px;
}
.contenedor-doc{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contenedor-horarios{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.doctores{
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: 150px;
}

.horario{
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 150px;
}
.Programar-Cita > a{
    background-color: #D3D3D3;
    color: #000000;
    padding: 15px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}
.info-medicamentos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.texto > h1{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    height: 100px 0px;
}
.contenedor-texto > h3{
    margin-top: 20px;
    background-color: #55D6C9;
    color: #000000;
    border-radius: 15px;
    height: 40px 0px;
    padding: 10px;
}
.contenedor-texto > h4{
    margin-top: 10px;
    background-color: #55D6C9;
    color: #000000;
    border-radius: 15px;
    height: 40px 0px;
    padding: 10px;
    margin-bottom: 10px;
}
.contenedor-img-texto > p{
    display: flex;
    background-color: #55D6C9;
    color: #000000;
    border-radius: 15px;
    padding: 10px;
    width: 500px;
}
.contenedor-img-texto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    
}
.contenedor-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 20px;
    gap: 10px;
}
.contenedor-img > img{
    border-radius: 20px;
}
.texto>a{
    background-color: #D3D3D3;
    color: #000000;
    padding: 15px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}
.texto>a:hover{
    background-color: #55D6C9;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}













.imagen-central > p{
    position: absolute;
    font-size: 50px;
    text-shadow: -6px -15px 9px rgba(255,171,46,1);
}
.imagen-central{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.imagen-central > img{
    width: 100%;
}
.contenedor{
    width: 1140px;
    max-width: 95%;
    margin: auto;
}
.contenedor-full{
    width: 100%;
    padding: 0px 10px;
}
.nav,.footer{
    width: 100%;
    height: 70px; display: flex;
    align-items: center;
}

.footer{
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    bottom: 0px;
}
.contenedor-icons{
    display: flex;
    gap: 10px;
}
.footer-icon{
    width: 30px;
    height: 30px;
    display: block;
}

.nav{    
    background-color: rgb(0, 0, 0);
    /* position: fixed; */
    justify-content: space-between;
      
}

.logo > img {
    height: 50px;
    position: relative;
    display: block;
    border-radius: 15px;
}

.opciones{
    display: flex;
    gap: 10px;
}
.opciones > a {
    color: white;
    padding: 10px;
    border-radius: 7px;
}
.nav > .opciones > a:hover {
    background-color: gray;
}

.home,.nosotros, .planes, .contacto{
    margin: 10px auto;
    padding: 100px 0px;
}

.home{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.cont-nosotros{
    background-color: #D3D3D3;
    border-radius: 5px;
    border-style: inset;

}
.izquierda, .derecha{
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.plan-free p{
text-align: center;

}
.plan-premium p{
text-align: center;
}

.encabezado{
    display: flex;
    flex-direction: column;
}

.img-w-full{
    width: 80%;
    margin: 0px auto;
}

.botones-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.btn-paciente, .btn-medico{
    padding: 10px 15px;
    color: black;
    border-radius: 15px;
}

.btn-medico{
    background-color: #9AFB97;
}
.btn-paciente{
    background-color: #55D7C8;
}

.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.nosotros > p{
    text-align: center;
}

.planes>h1{
    text-align: center;
}

.contenedor-planes{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.plan-free,.plan-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.plan-free > a, .plan-premium > a{
    width: 100px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0px;
    border-radius: 10px;
}
.plan-free> h3,.plan-premium > h3{
    text-align: center;
    padding: 10px 0px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.plan-contenido{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.plan-contenido > p{
    padding: 10px 15px;
    background-color: #B8B8B8;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.contacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contacto > h1{
    text-align: center;
}
.contenedor-contacto{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-items: center;
}

.contacto-formulario{
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

.contacto-opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.contacto-opciones > img{
    width: 40%;
}

.contacto-formulario > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-2{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    padding: 2px;
}
textarea{
    display: block;
    width: 100%;
}

input[type="submit"]{
    border: 1px solid black;
    cursor: pointer;
    width: 200px;
    align-self: center;
    border-radius: 7px;
    height: 40px;
    padding: 2px;
}

.videollamada{
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videollamada > img{
    height: 100%;
    width: auto;
    border-radius: 20px;
}
.videollamada-iconos{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videollamada-iconos > img{
    height: 75%;
}

.btn-regresar{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
}

@media (max-width: 850px){
    
    .home{
        grid-template-columns: repeat(1, 100%);
    }
    .izquierda,.derecha{
        flex-direction: row;
        align-items: center;
    }
    .botones-home{
        flex-wrap: wrap;
    }
    .btn-medico, .btn-paciente{
        width: 70%;
        text-align: center;
    }
    .nosotros > img{
        width: 90%;
    }
    .contenedor-contacto{
        grid-template-columns: repeat(1, 100%);
        gap: 10px;
    }
    .contacto-opciones{
        flex-direction: row;
        justify-content: center;
    }
    .contacto-opciones > img{
        width: 20%;
    }
    .img-w-full{
        width: 50%;
    }
    .footer{
        min-height: 70px;
        height: auto;
        flex-direction: column;
        padding: 10px 0px;
        gap: 10px;
    }
    .opciones{
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}